<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<style>

  h1 {
  	color: #FFCB05;
    font-size: 28px;
  }

  h2 {
  	color: #00274C;
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

</style>

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
